.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.slider-image {
    width: 96%;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
}

.slider-buttons {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 1%;
}

